.navbar-brand img {
width: 20%;
}

.container {
    margin-top: 5%;
}

.navbar.navbar-dark {
    background-color: #222;
    opacity: 0.8;
}

#container-2 {
    margin-bottom: 5%;
}

.btn.btn-primary {
    background-color: orange;
    border: none;
    color: white;
}

.bd-example {
    margin-bottom: 2%;
}

.carousel-caption a {
    text-decoration: none;
    color: white;
    border: white;
    border-width: 5px;
    border-style: solid;
}

.row {
    width: 100%;
    justify-content: center;
    align-content: space-between;
    padding-left: 5%;
}

.col-sm {
    margin-bottom: 2%;
}

.header {
    align-content: center;
    width: 100%;
    text-align: center;
}
.breadcrumb a {
    color: orange;
}

.about-top {
    background-image: url("images/sky.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    color: white;
}

.about-main {
    text-align: center;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.margin-top {
    margin-top: 2%;
}

footer {
    background-color: #222;
    color: white;
    position: absolute;
    width: 100%;
}

.last {
    bottom: 0;
}

.footer-logo img {
    width: 30%;
}
.footer-logo {
    display: flex;
    align-items: center;
}

.footer-item {
    color: white;
    width: 40%;
    text-align: center;
}